@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0 p-0 box-border;
}

.App {
  @apply h-screen w-screen bg-white text-gray-800;
}

.container {
  @apply flex flex-col items-center justify-center h-full;
}

.button {
  @apply flex items-center justify-center px-6 py-3 text-xl font-bold rounded-lg bg-red-600 text-white mt-4 transition-transform duration-301;
}

.button:hover {
  @apply transform scale-105;
}

.board {
  @apply grid grid-cols-4 gap-6 mt-12 p-6 rounded-lg shadow-lg bg-gray-100;
}

.face {
  @apply h-24 w-24 bg-white border border-gray-300 rounded-lg shadow-md transition-transform duration-500 ease-in-out;
}

.back {
  @apply h-24 w-24 bg-gray-300 text-gray-800 border border-gray-400 rounded-lg shadow-md transition-transform duration-500 ease-in-out;
}

.item .face {
  @apply absolute;
  transform: rotateY(90deg);
  transition: transform 0.5s ease-in-out;
}

.toggled .face {
  transform: rotateY(0deg);
  transition-delay: 0.25s;
}

.item .back {
  transition: transform 0.5s ease-in-out, background-color 0.3s;
  transition-delay: 0.25s;
}

.toggled .back {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
